.table {
	border: 3px solid black;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 50px;
}

.table--item {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}

.table--item--head {
	background-color: #dddddd;
}

.table--row :first-of-type {
	text-align: left;
}
.container{
	margin-left: 10%;
	margin-right: 10%;
}
.d-inline-block{
	display: inline-block;
}

.ml-1{
	margin-left: 1rem;
}
.p-1{
	padding: 1rem;
}
.rounded{
	border-radius: 0.25rem;
}
.shadow{
	
	box-shadow: 0px 0px 10px 1px gray;
}