.table {
	border: 3px solid black;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 50px;
}

.table--item {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}

.table--item--head {
	background-color: #dddddd;
}

.table--row :first-of-type {
	text-align: left;
}
.container{
	margin-left: 10%;
	margin-right: 10%;
}