body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../img/fond.gif");
}
h2 {
    background-color: rgb(2, 49, 134);
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color:#8e988e">
  }
#contTitre {
    font-size: 3.5em; 
    font-style: italic;
}