body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 100%;
    position: relative;
    margin-bottom: 5%;
}

#container {
    display: inline-flex;
    width: 80%;
    margin-top: 1%;
    padding: 3%;
    justify-content: center;
    gap: 5%;
    flex-flow: row wrap;
    gap: 30px;
}

div {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.402);
    width: 25%;
    border-radius: 8%;
    text-align: center;
    padding: 1%;
}

img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}