<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/caron_emmanuel.css" />
		<title>Emmanuel</title>
	</head>
	<body>
		<main>
			<div class="container shadow p-1 rounded">
				<img src="../img/emmanuel.caron.png" alt="Avatar" />
				<section class="d-inline-block ml-1">
					<p>Prenom : Emmanuel</p>
					<p>Nom : Caron</p>
					<p>Age : 18 ans</p>
				</section>
				<hr />
				<section>
					<h2>Expérience</h2>
					<ul>
						<li><a href="https://github.com/Phunder-off">Mes projets - Github</a></li>
					</ul>
				</section>
				<section>
					<hr />
					<h2>Formation</h2>
					<ul>
						<li>Technique de base - Développement web</li>
					</ul>
				</section>
				<section>
					<hr />
					<h2>Compétences</h2>
					<table class="table">
						<tr class="table--row">
							<th class="table--item table--item--head" rowspan="2">HTML</th>
							<th class="table--item table--item--head" colspan="2">Css</th>
							<th class="table--item table--item--head" rowspan="2">Algo</th>
							<th class="table--item table--item--head" rowspan="2">Js</th>
						</tr>
						<tr class="table--row">
							<td class="table--item">Sans Bootstrap</td>
							<td class="table--item">Avec Bootstrap</td>
						</tr>
						<tr class="table--row">
							<td class="table--item">3</td>
							<td class="table--item">3</td>
							<td class="table--item">4</td>
							<td class="table--item">4</td>
							<td class="table--item">3.5</td>
						</tr>
					</table>
				</section>
			</div>
			<a href="../index.html">Retour</a>
		</main>
	</body>
</html>
