<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.css">
    <title>Emmanuel</title>
</head>

<body>
    <main>
        <img src="https://avatars.githubusercontent.com/u/61203529?v=4" alt="Avatar" />
        <hr />
        <p>Prenom : Emmanuel</p>
        <p>Nom : Caron</p>
        <p>Age : 18 ans</p>
    </main>
</body>

</html>