<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/dalian.css" />
    <title>Dalian</title>
  </head>

  <body>
    <div class="ficheliens1_container">
      <div class="fichepresa_title">
        <span class="fichepresa_pseudo">Dalian Tillier</span> <br />
      </div>

      <!-- BLOC 1 : carté d'identité + icon -->

      <div class="fichepresa_blocinfos">
        <div class="fichepresa_blocinfos_bio">
          <p class="fichepresa_p">
            <mark>NOM & PRÉNOM</mark>Tillier Dalian<br /><br />
            <mark>ÂGE & DATE DE NAISSANCE</mark>22 ans, 08/10/1999<br /><br />
            <mark>NATIONALITÉ & ORIGINES</mark>Français origine Allemande<br /><br />
            <mark>ÉTUDES & OCCUPATION</mark>Formation Dev<br /><br />
            <mark>STATUT RELATIONNEL</mark>Seul avec la mort de mes parents<br /><br />
            <mark>POUVOIR</mark>Batman mais chut<br /><br />
            <mark>QUARTIER DE RÉSIDENCE</mark>Résidence de Wayne <br />
          </p>
        </div>

        <div class="fichepresa_blocinfos_avatar">
          <img src="../img/Dalian.jpeg" />
        </div>
      </div>

      <!-- BLOC 2 : caractère -->

      <div class="fichepresa_adjectifs">
        <div class="fichepresa_adjectifs1">
          <span class="adj ac">RICHE</span>
          <span class="adj ef">HÉRO</span>
          <span class="adj ac">SOMBRE</span>
          <span class="adj ef">NON FUMEUR</span>
        </div>

        <div class="fichepresa_adjectifs2">
          <span class="adj ef">TDS</span>
          <span class="adj ac">NOIX DE COCO</span>
          <span class="adj ef">SUR MAC</span>
          <span class="adj ac">RAPIDE</span>
        </div>
      </div>

      <!-- BLOC 3 : anecdotes + aspirations -->

      <div class="fichepresa_bloccentral">
        <div class="fichepresa_textareas">
          <div class="ficheliens_bloccentral_personnalite">
            <ac>PERSONNALITÉ</ac> <br /><br />
            Surveille Calais city durant les nuits sombres ou règne le chaos et
            l'injustice, uniquement dispo de 17h à 22h, après je dois dormir
            pour être en forme. Je m'occupe des grands méchants vous n'êtes que
            des vermines, Calais est à moi !
          </div>

          <div class="ficheliens_bloccentral_liens">
            <ac>RECHERCHE DE MÉCHANTS</ac> <br /><br />
            <ef>Le Joker —</ef> Il me doit 10 balles <br />
            <ef>Le Pingouin —</ef> Je l'aime pas <br />
            <ef>Double Face —</ef> Meurtrier de lidl <br />
            <ef>Catwoman —</ef> Je dois la factoriser <br />
          </div>
        </div>

        <div class="fichepresa_bloccentral_aspirations">
          <div class="fichepresa_aspiration">
            <img src="https://images2.imgbox.com/19/3e/hYP2lqpk_o.png" />
            <span class="fichepresa_aspirationpourcent">34 %</span>
          </div>

          <div class="fichepresa_aspiration">
            <img src="https://images2.imgbox.com/6c/4a/wshJimYw_o.png" />
            <span class="fichepresa_aspirationpourcent">92 %</span>
          </div>

          <div class="fichepresa_aspiration">
            <img src="https://images2.imgbox.com/95/0f/uaeWYDnc_o.png" />
            <span class="fichepresa_aspirationpourcent">100 %</span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
