<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/jerome.css">
    <title>Jerome</title>
</head>

<body>
    <div id="contTitre">
    <h1>Jérôme Charlemagne</h1>
    <img src="../img/jerome.png" alt="Jerome" height="100" width="100">
    </div>
    <h2>Etat civil:</h2>
    <table>
        <tr>
            <th>Adresse:</th>
            <td>111, impasse muraille</td>
        </tr>
        <tr> 
            <th>Tél</th>
            <td>03.03.03.03.03</td>
        </tr>
        <tr>
            <th>mêl</th>
            <td>jerome.jerome@jerome.com</td>
        </tr>
        <tr>
            <th>Age</th>
            <td>47 ans</td>
        </tr>
    </table>
    <h2>Passions:</h2>
    <ul>
        <li>j'adore l'informatique mais elle ne m'aime pas</li>
        <li>comme j'aime bien manger, j'aime aussi cuisiner</li>
        <li>regarder des documentaires traitant de l'exploration spatiale</li>
        <li>...</li>
    </ul>
    <p>Mais je déteste tondre la pelouse</p>
    <br>
    <a href="../index.html">Retour sur la présentation de la rocket team</a>
</body>

</html>