<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Marina.css">
    <title>Fiche : Masset Marina</title>
</head>
<body>
<header> 
    <h1>Masset Marina</h1>
    <img src="../img/Marina.jpg">
    
    <div class="header">
        <table>
        <tr>
            <th>Nom :</th>
            <td>Masset </td>
        </tr>
        <tr>
            <th>Prénom :</th>
            <td>Marina</td>
        </tr>
        <tr>
            <th>Âge :</th>
            <td>32 ans</td>
        </tr>
        </table>
    </div> 

</header>

<section>
    <h2>Expérience</h2>
    <a href="https://github.com/MarinaMasset">Mes projets - Github</a>
</section>

<section>
    <h2>Formation</h2>
    Déveloloppeur web et web mobile - du 30/06/2022 au 16/12/2022 

   <h3> Compétences techniques abordées :</h3>
        <ul>
            <li> Maquetter une application </li>
            <li> Réaliser une interface utilisateur web statique et adaptable</li>
            <li> Développer une interface utilisateur web dynamique </li>
            <li> Réaliser une interface utilisateur avec une solution de gestion de contenu ou e-commerce </li>
            <li> Créer une base de données </li>
            <li> Développer les composants d'accès aux données </li>
            <li> Développer la partue back-end d'une application web ou web mobile </li>
            <li> Élaborer et mettre en oeuvre des composants dans une application de gestion de contenu ou e-commerce </li>
        </ul>

    <h3>Compétences transversales :</h3> 
        <ul>
            <li>Utiliser l'anglais dans son activité professionnelle en développement web et web mobile </li>
            <li>Actualiser et partager ses compétences en développement web et web mobile</li>
        </ul>
</section>

<section>
    <h2> Compétences en début de formation en date du 07/07/2022 </h2>
    <table>
        <tr>
            <th rowspan="2">HTML</th>
            <th colspan="2">Css</th>
            <th rowspan="2">Algo</th>
            <th rowspan="2">Js</th>
        </tr>
        <tr>
            <td>Sans Bootstrap</td>
            <td>Avec Bootstrap</td>
        </tr>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
    </table>

</section>

    <footer>
            <a href="../index.html">Retour au trombinoscope</a> 
    </footer>



</body>
</html>