<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fiche : Masset Marina</title>
</head>
<body>

    <h1>Masset Marina</h1>
    <img src="../images/photo_Masset_Marina.jpg">

    <table>
        <tr>
            <th>Nom :</th>
            <td>Masset </td>
        </tr>
        <tr>
            <th>Prénom :</th>
            <td>Marina</td>
        <tr>
            <th>Âge :</th>
            <td>32 ans</td>
        </tr>
        </tr>
    </table>

    
</body>
</html>